div#footer
	div#footer-content
		a(href='https://github.com/skilbjo/dropkey') > $ source_code
		|  &middot; 
		a(href='https://twitter.com/skilbjo') @contact

script(src='/public/dist/dropkey.min.js')