div#navigation
	div#nav
		ul.wsite-menu-default
			li.wsite-nav-0
				a(href='/') home
			li.wsite-nav-1
				a(href='/request_token') access
			li.wsite-nav-2
				a(href='/connect/facebook') signup/login
			li.wsite-nav-3
				a(href='https://twitter.com/skilbjo') contact