div#navigation
	div#nav
		ul.wsite-menu-default
			li
				a(href='/') home
			li
				a(href='/request_token') access
			li
				a(href='/connect/facebook') sign in
			li
				a(href='/profile') profile
			li
				a(href='/logout') logout
			li
				a(href='https://twitter.com/skilbjo') contact