br
br
div#signup_form
	br
	br
	label name
		input.form-input(name='name', 	placeholder='hay guy')
	br
	br
	label email
		input.form-input(name='email', 	placeholder='guy@hayguy.com')
	br
	br
	input(type='submit', value='SUBMIT')