div#features
	div(style='margin:10px 0px 0px 0px;')
		h2 What is this?
		p dropkey.io provides hardware solutions that work online and offline to make people's lives better. 
		p dropkey pairs intelligent hardware to the cloud to keep people's portable files always in sync.
		p We make files available to teams, coworkers, classmates and friends.
		br
	div(style='margin:10px 0px 0px 0px;')
		h2 
		p 